/* :root {
  --bg-color: #4c566a;
  --fg-color: #e5e9f0;
  --fg-pop: #88c0d0;
  --pop-color: #d08770;
  --big-pop: #bf616a;

  --bg-quiz: #2e3440;
  --fg-quiz: #e5e9f0;
  --quiz-pop: #88c0d0;

  --font: 'Roboto Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e5e9f0;
    --fg-color: #4c566a;
    --fg-pop: #bf616a;
    --big-pop: #8fbcbb;
  }
} */

:root {
  --lang-py: #4b8bbe;
  --lang-ru: #eda895;
  --lang-js: #f0db4f;
}

form {
  padding-bottom: 1.5rem;
}

#Python     { color: var(--lang-py); }
#Ruby       { color: var(--lang-ru); }
#JavaScript { color: var(--lang-js); }

#output {
  display: none;

  border: 1px solid black;
  border-radius: var(--border-radius);
  background-color: var(--bg-quiz);

  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1em;
}

#basic-name {
  text-transform: uppercase;
}

#fancy-name {
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #bf616a, #d08770, #ebcb8b, #a3be8c, #4c566a, #b48ead, #bf616a);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 100%;
}

/* LITTLE GUYS */
.lilguy p {
  font-family: 'Roboto Mono', monospace;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.lilguy:hover span#wand, .lilguy:hover span#lilguy:before, #fancy-name {
  background: linear-gradient(to right, #00ff00, red, #00ff00, red, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

.lilguy:hover span#lilguy:before {
  content: "(HOCUS POCUS!)>";
  background: linear-gradient(to right, #00ff00, red, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 100%;
}

.lilguy:hover {
  color: var(--fg-pop);
  font-weight: bold;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

/* @media (max-width: 600px) { 
  form, #output {
    width: 95%;
  }
  select {
    width: 60%;
  }
} */
