@media (prefers-color-scheme: dark) {
  :root {
      /* Colors */
    --color-primary: #d8dee9;
    --color-secondary: #e5e9f0;
    --color-thirdly: #eceff4;
    --color-primary-tint: #6472b1;
    --color-accent: #ffa630;
    --color-gray: #f8f8f8;
    --color-med-gray: #828489;
    --color-light-gray: #3f4045;
    --color-bg: #4c566a;
    --color-bg-med: #ececec;

    /* Fonts */
    --font-color-dark: #f8f8f8;
    --font-color-light: #272727;
    --font-color-med: #6e7075;
  }
}

:root {
  --lang-py: #4b8bbe;
  --lang-ru: #eda895;
  --lang-js: #f0db4f;
  --light-green: #a3be8c;

  --font-family: 'Roboto Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main, body > header div {
  max-width: 40rem;
}

body > footer div {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
}

abbr {
  speak-as: spell-out;
  text-decoration: underline wavy var(--color-accent);
}

form { padding-bottom: 1.5rem; }
legend { margin-left: 0; }
label { margin-left: .2em; }

.python     { color: var(--lang-py); }
.ruby       { color: var(--lang-ru); }
.javaScript { color: var(--lang-js); }

#output {
  display: none;

  border: 1px solid;
  border-radius: var(--border-radius);
  background-color: var(--bg-quiz);

  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1em;
}

/* LITTLE GUYS */
.lilguy p {
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

#lilguy:hover:before {
  content: "(HOCUS POCUS!)>";
  background: linear-gradient(to right, #00ff00, red, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 100%;
}

.lilguy p:hover {
  color: var(--fg-pop);
  font-weight: bold;
}

.fancy-name, .basic-name {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-green);
}

#lilguy:hover #wand, #lilguy:hover:before, .fancy-name {
  background: linear-gradient(to right, #00ff00, red, #00ff00, red, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

.fancy-name {
  background: linear-gradient(to right, #bf616a, #d08770, #ebcb8b, #a3be8c, #4c566a, #b48ead, #bf616a);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
